---
---

@import "minimal-mistakes";

.site-title {
    color: #5B3A9E;
}

.site-subtitle {
    color: #5B3A9E;
}

.page__footer {
    background-color: #222222;
}

.page__footer a {
    color: #C9B6FF;
}

.greedy-nav {
    background: #ffffff;
}

.greedy-nav a {
    color: #5B3A9E;
}

.btn--light-outline {
    border-color: #C9B6FF;
}

.btn--light-outline:hover {
    background-color: #5B3A9E;
}
